@import '../_variables.scss';

.about-container {
  justify-content: center;
  .title-container {
    .img-avatar {
      img {
        vertical-align: middle;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
  }
  .ingredient-info {
    .ingred-description {
      font-weight: 300;
    }
  }

  .research-container {
    border-top: 1px solid $essential-blue;
    margin-top: 6rem;
    .btn.btn-link {
      z-index: 1000;
    }
    .left-carat {
      position: absolute;
    }
    .right-carat {
      position: absolute;
      right: 0;
    }
    .research-info {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 0 26px 0 26px;
      .research-link {
        text-align: center;
        color: inherit;
      }
    }
  }
}
